.footer {
  background-color: rgb(58, 5, 58);
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .footer-links {
  display: flex;
}

.footer .footer-links .footer-link {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.footer .footer-links .footer-link:hover {
  color: #007bff;
}

.footer .footer-text {
  font-size: 14px;
}

@media (max-width: 768px) {
  .footer .footer-content {
    flex-direction: column;
  }

  .footer .footer-links {
    margin-bottom: 10px;
  }
}
