.navbar {
  padding: 10px 10px;
  background-color: #b5c0cb; /* Light gray background color */
}

.navbar-brand img {
  height: 30px; /* Adjusted height of the logo */
}

.navbar-toggler {
  border: none;
}

.navbar-nav .nav-link {
  margin-left: 15px; /* Adjusted margin between navigation links */
  color: #343a40; /* Dark text color */
}

.btn {
  padding: 8px 12px;
  border-radius: 4px;
}

.btn-outline-light {
  color: #343a40; /* Dark text color */
  border-color: #343a40; /* Dark border color */
}

.btn-outline-light:hover {
  background-color: #e9ecef; /* Light gray background on hover */
  border-color: #e9ecef;
}

.btn-outline-dark {
  color: #343a40; /* Dark text color */
  border-color: #343a40; /* Dark border color */
}

.btn-outline-dark:hover {
  background-color: #343a40; /* Dark background on hover */
  border-color: #343a40;
}

.form-control {
  border: 1px solid #ced4da; /* Light border color */
  border-radius: 4px;
  background-color: #fff; /* White background color */
  color: #343a40; /* Dark text color */
  box-shadow: none; /* Remove box shadow */
}

.form-control:focus {
  border-color: #0056b3; /* Focus color */
}

@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    margin-top: 10px; /* Adjust spacing between items */
  }

  .form-control {
    width: 100%; /* Full width for search input */
    max-width: 100%;
    margin-top: 10px; /* Adjust spacing */
  }
}
